@font-face {
    font-family: 'Roboto, Bold';
    src: url(font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto, Italic';
    src: url(font/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto, Light';
    src: url(font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto, Semibold';
    src: url(font/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto, Regular';
    src: url(font/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    max-width: 1920px;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


#header {
    position: relative;
    width: 100%;
    height: 252.26px;
    top: 0px;

    background: #DDF3FF;
}

#header img {
    position: relative;
    left: 13%;
    top: 5px;
}

#header h1{
    position: relative;
    width: 400px;
    height: 56px;
    left: 1020px;
    top: -200px;
    font-family: 'Roboto, Semibold' ;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
}

#header h2{
    position: relative;
    width: 700px;
    height: 56px;
    left: 895px;
    top: -165px;
    font-family: 'Roboto, Semibold';
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

#header nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    top: -40%;
    align-items: center;
}

.test-0-nav-1,
.test-0-nav-2,
.test-0-nav-3,
.test-0-nav-4 {
    font-size: 28px;
    font-family: 'Roboto, Regular';
    color: black;
    transition: 0.2s ease-in-out;
}

.test-0-nav-1:hover {
    color: #95CFFA;
}

.test-0-nav-2:hover {
    color: #95CFFA;
}

.test-0-nav-3:hover {
    color: #95CFFA;
}

.test-0-nav-4:hover {
    color: #95CFFA;
}

.container{
    width: 100%;
    height: 1700px;
    background-color: white;
}

.lk {
    position: relative;
    text-align: center;
    top: 90px;

    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
}

.forma {
    background-color: #F1F1F1;
    position: relative;
    width: 800px;
    height: 320px;
    left: 28%;
    top: 150px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.test-3-name {
    position: relative;
    width: 690px;
    height: 50px;
    left: 50px;
    top: 40px;
    

    background: #FFFFFF;
    border-radius: 15px;
}

.info{
    position: relative;
    font-size: 24px;
    top: 10px;
    left: 10px;
}

.test-3-last {
    position: relative;
    width: 690px;
    height: 50px;
    left: 50px;
    top: 80px;

    background: #FFFFFF;
    border-radius: 15px;
}

.test-3-num {
    position: relative;
    width: 690px;
    height: 50px;
    left: 50px;
    top: 120px;

    background: #FFFFFF;
    border-radius: 15px;
}



.bron{
    position: relative;
    text-align: center;
    top: 200px;

    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    
}

.bron_vse{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    right: 23%;
    top: 10%;
    
}
#bron1{
    background-color: #F1F1F1;
    position: relative;
    width: 595px;
    height: 580px;
    left: 23%;
    top: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 10px;
}
#bron2{
    background-color: #F1F1F1;
    position: relative;
    width: 595px;
    height: 580px;
    left: 23%;
    top: 150px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.text_bron{
    position: relative;
    left: 5%;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 90px;
    font-size: 36px; 
}
.text_bron2{
    position: relative;
    left: 5%;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 90px;
    font-size: 36px; 
}

.test-3-from{
    line-height: 35px;
}
.test-3-to{
    position: relative;
    top: 20px;
    line-height: 35px;
}

.test-3-logout {
    position: absolute;
    width: 210px;
    height: 70px;
    left: 44%;
    top: 170%;
    font-size: 30px;
    font-weight: 400;

    background: #FFFFFF;
    border-radius: 15px;
    transition: 0.2s ease-in;
}

.test-3-logout:hover{
    color: red;
}
 
#footer {
    background-color: #DDF3FF;
    width: 100%;
    height: 300px;
}

.title_footer {
    font-family: 'Roboto, Bold';
    font-size: 32px;
    color: #000;
    text-align: center;
    padding: 4%;
    
}

.test-0-phone {
    width: 100%;
    position: relative;
    font-family: 'Roboto, Bold';
    font-size: 32px;
    color: #000;
    text-align: left;
    left: 25%;
    top: 100%;
}

#footer nav {
    display: flex;
    justify-content: space-around;    
    flex-direction: row;
    width: 140%;
    position: relative;
    left: -20%;
    top: -10px;

}

.menu {
    font-family: 'Roboto, Bold';
    font-size: 30px;
    color: #000;
    transition: 0.2s ease-in;
    top: 10%;
    line-height: 45px;
}

.menu:hover {
    color: white;
}

#footer .container_footer {
    width: 60%;
    height: 10%;
    margin: 0 auto;
    padding: 0 auto;
}